/* Arrow style in owl-carousel */

#new-arrivals, #similar-products{
    .owl-carousel .owl-nav button{
        position: absolute;
        top: 30%;
        outline: none;
    }

    .owl-carousel .owl-nav button.owl-prev{
        left: -10px;
    }
    .owl-carousel .owl-nav button.owl-next {
        right: -10px;
    }
    .owl-carousel .owl-nav button.owl-prev span,
    .owl-carousel .owl-nav button.owl-next span {
        font-size: 35px;
        color: $color-mid;
    }

    .owl-carousel .owl-nav button.owl-prev:hover,
    .owl-carousel .owl-nav button.owl-next:hover {
        background: transparent;
    }
}